<form class="row g-3 align-items-center">
    <label class="form-label">Name:</label>
    <div class="col-md-4">
        <mat-form-field appearance="">
            <input [(ngModel)] = "filter.name" matInput value="" name="filterName">
        </mat-form-field>
    </div>
    <div class="col-12">
        <label class="form-label">Criteria:</label>
        <div class="row" *ngFor="let field of filter.fields; index as i">
            <div class="col">
                <mat-form-field>
                    <mat-select [(ngModel)] = "field.propertyId" name = "field{{i}}_property">
                        <mat-option *ngFor = "let elem of propertyConditionsList" [value] = "elem.property.id">
                            {{elem.property.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field>
                    <mat-select [(ngModel)] = "field.conditionId" name = "field{{i}}_condition">
                        <mat-option *ngFor = "let condition of loadPropertyConditions(field.propertyId)" [value] = "condition.id">
                            {{condition.rule}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="">
                    <input [(ngModel)] = "field.value" matInput name="field{{i}}_value">
                </mat-form-field>
            </div>
            <div class="col">
                <button mat-mini-fab (click) = "removeField(i)">-</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <button type="button" class="btn btn-outline-primary btn-block" (click) = "addNewField()">Add row</button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
      <label for="inputAddress2" class="form-label">Season:</label>
      <div class="row">
        <div class="col">
            <mat-radio-group class = "tp-radio-group" [(ngModel)] = "filter.someOptionalValue" name="optional">
                <mat-radio-button class = "tp-radio-button" *ngFor = "let elem of ['Winter', 'Spring', 'Summer', 'Autumn']" [value] = "elem">
                   {{elem}}
                </mat-radio-button>
             </mat-radio-group>
        </div>
      </div>
    </div>
    <div class="row g-2">
        <div class="col-sm-2 d-grid">
            <button type="button" class="btn btn-secondary btn-block">Close</button>
        </div>
        <div class="col-sm-2 d-grid">
            <button type="button" class="btn btn-primary btn-block" (click) = "saveFilter()">Save</button>
        </div>
    </div>
    <app-error-message *ngIf="errorMsg" [message]="errorMsg"></app-error-message>
  </form>
