<form class="row g-3 align-items-center">
    <label class="form-label">Name</label>
    <div class="col-md-4">
        <mat-form-field appearance="">
            <input [(ngModel)] = "filter.name" matInput value="" name="filterName">
        </mat-form-field>
    </div>
    <div class="col-12">
        <label class="form-label">Criteria</label>
        <div class="row" *ngFor="let field of filter.fileds; index as i">
            <div class="col">
                <mat-form-field>
                    <mat-select [(ngModel)] = "field.propertyId" name = "property">
                        <mat-option *ngFor = "let property of properties" [value] = "property.id">
                            {{property.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field>
                    <mat-select [(ngModel)] = "field.conditionId" name = "condition">
                        <mat-option *ngFor = "let condition of conditions" [value] = "condition.id">
                            {{condition.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="">
                    <input [(ngModel)] = "field.value" matInput [value] ="field.value" name="fieldValue">
                </mat-form-field>
            </div>
            <div class="col">
                <button mat-mini-fab (click) = "removeField(i)">-</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <button type="button" class="btn btn-outline-primary btn-block" (click) = "addNewField()">Add row</button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
      <label for="inputAddress2" class="form-label">Some static field</label>
      <div class="row">
        <div class="col">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  A
                </label>
            </div>
        </div>
        <div class="col">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  B
                </label>
              </div>
        </div>
        <div class="col">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                <label class="form-check-label" for="flexRadioDefault1">
                  C
                </label>
              </div>
        </div>
      </div>
    </div>

    <div class="row g-2">
        <div class="col-sm-2 d-grid">
            <button type="button" class="btn btn-secondary btn-block">Close</button>
        </div>
        <div class="col-sm-2 d-grid">
            <button type="button" class="btn btn-primary btn-block">Save</button>
        </div>
    </div>
  </form>
